.content{
    margin: 0vw 15vw;
}

.head{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px
}

.head span{
    font-size: 30px;
    color: #b44e4e;
    font-weight: 600;
}